/* global style */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}

button {
  border: none;
  background: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

.icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* icons */

.i-search {
  background-image: url('images/magnify.svg');
}

.i-menu {
  background-image: url('images/menu.svg');
}

.i-clock {
  background-image: url('images/clock-outline.svg');
}

.i-share {
  background-image: url('images/share-variant.svg');
}

.i-tag {
  background-image: url('images/tag.svg');
}

.i-briefcase {
  background-image: url('images/briefcase.svg');
}

.i-facebook {
  background-image: url('images/facebook.svg');
}

.i-twitter {
  background-image: url('images/twitter.svg');
}

.i-youtube {
  background-image: url('images/youtube.svg');
}

.i-instagram {
  background-image: url('images/instagram.svg');
}

.i-pinterest {
  background-image: url('images/pinterest.svg');
}

.i-feed {
  background-image: url('images/rss.svg');
}

.i-email {
  background-image: url('images/email.svg');
}

.i-tnw-small {
  background-image: url('images/tnw-small.svg');
  width: 45px;
  height: 9px;
}

.i-stackpath {
  background-image: url('images/stackpath.svg');
  width: 75px;
  height: 9px;
}

/* header */

.logo-small {
  display: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(206, 2, 149),
    rgb(255, 68, 34) 80%
  );
}

.logo-small img {
  width: 66px;
  height: 16px;
}

.top-nav,
.bottom-nav,
.top-nav ul,
.bottom-nav ul {
  display: flex;
  align-items: center;
}

@media (max-width: 1214px) {
  .hide-medium-large {
    display: none;
  }
}

@media (max-width: 1024px) {
  .main-nav {
    display: grid;
    grid-template-columns: 106px 1fr;
  }

  .logo-small {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / span 2;
  }

  .hide-medium {
    display: none !important;
  }
}

@media (max-width: 820px) {
  .hide-medium-small {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .main-nav {
    grid-template-rows: 48px;
    justify-content: space-between;
  }

  .bottom-nav {
    justify-self: end;
  }

  .hide-small-large {
    display: none !important;
  }

  .bottom-nav ul:last-of-type li:last-of-type {
    display: flex !important;
  }
}

.top-nav,
.bottom-nav {
  padding: 1rem 2rem;
  justify-content: space-between;
}

.top-nav ul:first-of-type li {
  margin-right: 1rem;
}

.top-nav ul:last-of-type li {
  margin-left: 1rem;
}

.top-nav {
  background-color: #000;
  font-size: 1.3rem;
  color: #999;
  line-height: 1;
}

.top-nav ul:first-of-type li:first-child {
  color: #fff;
}

.bottom-nav {
  font-size: 1.4rem;
  padding: 0;
  text-transform: uppercase;
  color: #999;
}

.bottom-nav button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottom-nav ul:first-of-type {
  padding: 1.5rem 0 1.5rem 2rem;
}

.bottom-nav ul:first-of-type li {
  margin-right: 2rem;
}

.bottom-nav li:first-of-type .icon {
  transform: rotate(90deg);
}

.bottom-nav ul:last-of-type {
  align-self: stretch;
  align-items: stretch;
}

.bottom-nav ul:last-of-type li {
  display: flex;
  border-left: 1px solid rgba(153, 153, 153, 0.1);
}

.bottom-nav ul:last-of-type li:last-of-type {
  display: none;
}

.announcement {
  padding: 0.7rem 2rem;
  font-size: 1.3rem;
  line-height: 1.3;
  background-color: rgb(255, 221, 51);
}

@media (max-width: 1024px) {
  .announcement {
    padding-left: 10rem;
  }
}

@media (max-width: 768px) {
  .announcement {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .announcement {
    font-size: 1rem;
  }
}

/* main */

/* recent-articles */

.recent-articles-container {
  margin: 2px 5px;
  display: grid;
  gap: 8px;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 265px 265px;
}

.main-article {
  position: relative;
  grid-row: 1 / span 2;
}

.recent-article {
  background-repeat: no-repeat;
  background-size: cover;
}

.main-article .recent-article-header {
  position: absolute;
}

.recent-article-header {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  color: #fff;
  z-index: 10;
}

.recent-article-header h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

.recent-article-header h2 {
  font-size: 2.8rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.main-article .recent-article-header h2 {
  font-size: 5.2rem;
  padding-top: 0;
}

@media (max-width: 1024px) {
  .recent-articles-container {
    grid-template-rows: 225px 225px;
  }

  .main-article .recent-article-header h2 {
    font-size: 4rem;
  }

  .recent-article-header h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .recent-articles-container {
    grid-template-columns: 1fr;
    grid-template-rows: 240px;
    grid-auto-rows: 240px;
  }

  .main-article {
    grid-row: 1;
  }

  .main-article .recent-article-header h2,
  .recent-article-header h2 {
    font-size: 2rem;
  }
}

.hero {
  position: absolute;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 67, 10, 0.85) 20%,
    rgba(255, 67, 10, 0.5) 60%,
    transparent
  );
}

.hero time {
  flex: 1;
  font-size: 1.4rem;
  color: #fff;
  text-align: end;
  z-index: 30;
}

.logo-large {
  height: 96px;
  flex: 1;
  background-image: url('images/tnw.svg');
  background-repeat: no-repeat;
  z-index: 30;
}

.article-author {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #999;
}

.article-author .icon {
  margin-left: 0.5rem;
  height: 1.8rem;
  height: 1.8rem;
}

/* container */

.container {
  max-width: 1152px;
  margin: 6rem auto;
}

.container > * {
  margin-bottom: 6rem;
}

/* latest-news */

.latest-news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
  gap: 2rem;
}

.latest-news-container h2 {
  grid-column: 1 / -1;
  font-size: 2.8rem;
  color: rgb(255, 68, 34);
}

.latest-news a {
  display: block;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50%;
}

.latest-news h3 {
  padding: 1rem 0;
  font-size: 1.6rem;
}

@media (max-width: 1214px) {
  .container {
    margin: 6rem 2rem;
  }
}

@media (max-width: 1024px) {
  .latest-news h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .latest-news-container {
    grid-template-columns: 1fr;
  }

  .latest-news {
    display: flex;
  }

  .latest-news .heading-container {
    padding-left: 1rem;
  }

  .latest-news a {
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    min-height: 75px;
    padding-top: 0;
  }

  .latest-news h3 {
    padding: 0 0 0.5rem 0;
  }
}

/* latest-foundings */

.latest-foundings-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.latest-foundings-header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  font-size: 1.6rem;
  color: rgb(255, 68, 34);
}

.latest-foundings-header h2 {
  font-size: 2.8rem;
}

.latest-foundings-header ul {
  display: flex;
}

.latest-foundings-header li:nth-child(2)::before,
.latest-foundings-header li:nth-child(2)::after {
  content: '|';
  padding: 0 1rem;
}

.latest-founding {
  position: relative;
  color: rgb(70, 70, 70);
  background-color: rgb(255, 250, 248);
}

.latest-founding img {
  position: absolute;
  margin: 1rem;
  width: 60px;
  height: 60px;
}

.latest-founding > h4 {
  padding: 1rem 0 1rem calc(60px + 2.5rem);
  font-size: 1.8rem;
  color: #fff;
  background-color: rgb(255, 68, 34);
}

.latest-founding hgroup {
  padding: 1rem 0 1rem calc(60px + 2.5rem);
  background-color: rgba(255, 68, 34, 0.08);
}

.latest-founding hgroup h4 {
  font-size: 1.8rem;
  color: #000;
}

.latest-founding hgroup h5 {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(112, 112, 112);
}

.tag-category,
.short-description {
  padding: 1.5rem 1rem;
}

.tag-category {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(255, 67, 34, 0.3);
}

.tag-category li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.tag-category li:last-of-type {
  margin-bottom: 0;
}

.tag-category li .icon {
  margin-right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.short-description {
  padding-top: 0;
  font-size: 1.2rem;
  line-height: 2;
}

.short-description a {
  color: #999;
}

@media (max-width: 1024px) {
  .latest-foundings-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .latest-foundings-container .latest-founding:last-child {
    display: none;
  }

  .latest-foundings-header {
    flex-direction: column;
    justify-content: initial;
  }

  .latest-foundings-header h2 {
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .latest-foundings-container {
    grid-template-columns: 1fr;
  }

  .latest-foundings-header ul {
    flex-direction: column;
    font-size: 1.4rem;
  }

  .latest-foundings-header li:nth-child(2) {
    padding: 1rem 0;
  }

  .latest-foundings-header li:nth-child(2)::before,
  .latest-foundings-header li:nth-child(2)::after {
    content: '';
    padding: 0;
  }
}

/* latest-category-news */

.latest-category-news-container {
  display: grid;
  gap: 4rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
}

.latest-category-news h2 {
  padding-bottom: 1.5rem;
  font-size: 2.8rem;
  color: rgb(255, 68, 34);
}

.latest-most-popular {
  position: relative;
  padding-top: 75%;
  background-position: center;
  background-size: cover;
}

.article-header {
  position: absolute;
  padding: 1.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
  color: #fff;
}

.article-header h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
}

.article-header h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

.secondary-most-popular {
  display: flex;
  margin-top: 2px;
  padding-left: 1.5rem;
  justify-content: space-between;
  color: rgb(255, 68, 34);
  background-color: rgba(255, 68, 34, 0.06);
}

.secondary-most-popular h3 {
  font-size: 1.4rem;
}

.secondary-most-popular h4 {
  padding: 1rem 0 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.4;
}

.latest-category-img {
  margin-left: 1.5rem;
  min-width: 96px;
  min-height: 96px;
  background-position: center;
  background-size: cover;
}

.latest-category-news li:nth-child(n + 3) {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.latest-category-news li:nth-child(n + 3) h4 {
  padding: 0 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
  color: rgb(80, 80, 80);
}

.latest-category-news li:nth-child(n + 3)::before {
  content: '';
  margin-top: 6px;
  align-self: flex-start;
  min-width: 4px;
  min-height: 4px;
  border-radius: 50%;
  background-color: rgb(255, 68, 34);
}

@media (max-width: 768px) {
  .latest-category-news-container {
    grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
  }
}

@media (max-width: 500px) {
  .latest-category-news-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* latest-deals */

.latest-deals-container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
}

.latest-deals-header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  font-size: 1.6rem;
  color: rgb(255, 68, 34);
}

.latest-deals-header h2 {
  font-size: 2.8rem;
}

.deal-img {
  display: block;
  width: 100%;
  padding-top: 73%;
  background-position: left;
  background-size: cover;
}

.latest-deal h3 {
  padding: 1rem 0;
  font-size: 1.6rem;
}

.latest-deal h4 {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgb(77, 77, 77);
}

.initial-price {
  font-size: 1.2rem;
  text-decoration: line-through;
  color: #999;
}

@media (max-width: 768px) {
  .latest-deals-header a {
    font-size: 1.4rem;
    align-self: center;
  }

  .latest-deals-container {
    grid-template-columns: 1fr;
  }

  .latest-deal {
    display: flex;
  }

  .deal-img {
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    min-height: 75px;
    padding-top: 0;
  }

  .latest-deal h3 {
    padding: 0 0 0.5rem 0;
    font-size: 1.4rem;
  }

  .sale-price {
    font-size: 1.3rem;
  }

  .latest-deal .heading-container {
    padding-left: 1rem;
  }
}

/* main-footer */

.social-links {
  padding: 4rem 0;
  font-size: 1.3rem;
  color: rgb(199, 199, 199);
  letter-spacing: -0.9px;
  background-color: rgb(19, 19, 19);
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.social-links .icon {
  width: 1.8rem;
  height: 1.8rem;
}

.social-links ul:first-of-type {
  margin-bottom: 3rem;
}

.social-links li {
  margin: 0 0.75rem;
}

.social-links ul:first-of-type li {
  padding: 11px;
  background-color: rgb(47, 47, 47);
  border-radius: 50%;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  font-size: 1.3rem;
  color: #999;
  background: #000;
  text-align: center;
}

.copyright .icon {
  display: inline-block;
}

@media (max-width: 768px) {
  .copyright {
    display: block;
  }

  .copyright p:nth-child(2) {
    padding: 0.5rem 0;
  }

  .hide-small-large {
    display: none;
  }
}
